/* @override http://hmpe.andresazp.webfactional.com/css/main.css */

@charset "utf-8";
/* CSS Document */
@font-face {
font-family: Swiss LtBt;
src: url("swissl.ttf");
}
@font-face {
font-family: Swiss ThBt;
src: url("SWZ721T.TTF");
}
html{
  height: 100%;
}
body {
	min-height: 100%;
	background-color:#282437 ;  
}
body{
  font-family: Swiss LtBt;
}
#content{

}

.top_logo_row{
}
img#main-logo{
	max-width: 480px;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto;
	width: 100%;
	
}
.top_logo_row{
	text-align: center;
	margin-top: 120px;
}
.top_message_row{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #746a96;
	font-size: 20px;
	font-family: Swiss ThBt;
}
.content_login_row{
	text-align: center;
	margin-top: 80px;

}



.btn, .login_button{
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 7px;
}


.input_email, .input_pass, input, select, input.form-control{

	margin-bottom: 20px;
	height: 40px;
	border: 1px #4b4b60 solid;
	border-radius: 7px;
	padding-left:  60px;
	font-size: 16px;
	font-weight: bolder;
	color: #fff;
	border-radius: 6px; 
	background: transparent;
}
input:focus{
	margin-bottom: 20px;
	background-color: #2a2a38;
		background: transparent;
	border: 1px #0094be solid;
	box-shadow: none;

}
.login_button{
	max-width: 250px;
	height: 30px;
	font-size: 16px;
	background: -webkit-linear-gradient(#ffdd00 0%, #ffb401 100%);
	border: none;
	border-radius: 6px; 
	color: #666666;	
	padding-left: 35px; 
	padding-right: 35px;
}
.olvido_url{
	margin-top: 10px;
}
.olvido_url a{
	color: #0094be;
	font-size: 16px;
}
#footer,.boton_solicitud{
	text-align: center;
	bottom: 0px;
	color:  #4b4b60;
	padding-top: 15px;
}

select.form-control {
	text-align: center;
	color: #fff;
	width: 100%;
	background: none !important;
	background-color: transparent !important; 
}
.reservar_button{
	color: #ffb401;
	border-color: #ffb401;
	background: #171929;
	max-width: 250px;
	padding-left: 35px; 
	padding-right: 35px;
}
.reservar_button.active, .reservar_button:hover, .reservar_button:focus {
background: #0c0e19;
	color: #ffb401;

}

/* BORIS */

#action, #boats {
	 height: 40px;
}


/* ANDRES */


.nombre-bote{
	font-weight: bold;
	
}

.cancel-schedule{
}

.fecha-bote{
		font-size: 0.7em;


}
